.container img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 1px 10px;
  text-align: center;
}

.actions {
  padding: 3px;
  text-align: center;
}

.actions .button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 3px 2px;
  border-radius: 4px;
}

.actions .button:hover,
.actions .button:active {
  background-color: #ffe2ed;
}

.buttonGroup {
    display: flex;
    justify-content: space-around;
}
